<div class="container">
    <div class="form">
        <h1>Equipe</h1>
        <div class="inputBox">
            <input type="text" id="name" [(ngModel)]="equipeSelected.name" #inputName>            
            <span>Nome</span>
            <button class="btnSearch" (click)="getByName(inputName.value)">
                <img src="../../../../../assets/icons/search-icon.svg" alt="" />
            </button>
        </div>

        <button (click)="createEquipe()">Salvar</button>        

    </div>
</div>