<div class="container">
    <div class="left">
        <h1>@mtlibano</h1>
    </div>
    <div class="right">
        <a routerLink="/users" routerLinkActive="linkSelected">Usuários</a>
        <a routerLink="/pais" routerLinkActive="linkSelected">Pais</a>
        <a routerLink="/equipe" routerLinkActive="linkSelected">Equipe</a>
        <a routerLink="/campeonato" routerLinkActive="linkSelected">Campeonato</a>
        <a routerLink="/pista" routerLinkActive="linkSelected">Pista</a>
    </div>
</div>