<div class="container">
    <table>
        <tr class="titulo">
            <td>Tamanho</td>
            <td>País</td>
            <td>Ações</td>
        </tr>
        <tr class="dados" *ngFor="let pista of list">            
            <td>{{pista.tamanho}}</td>
            <td>{{pista.pais.name}}</td>
            <td class="td-btn">
                <button (click)="getPistaForm(pista)">Up</button>
                <button (click)="delete(pista)">Del</button>
            </td>
        </tr>
    </table>
</div>
