<div class="container">
    <table>
        <tr class="titulo">
            <td>Nome</td>
            <td>Equipe</td>
            <td>País</td>
            <td>Ações</td>
        </tr>
        <tr class="dados" *ngFor="let piloto of list">            
            <td>{{ piloto.name }}</td>
            <td>{{ piloto.nameEquipe }}</td>
            <td>{{ piloto.namePais }}</td>
            <td class="td-btn">
                <button (click)="getPilotoForm(piloto)">
                    <img src="../../../../../assets/icons/edit-icon.png" alt="" />
                </button>
                <button (click)="delete(piloto)">
                    <img src="../../../../../assets/icons/trash-icon.png" alt="" />
                </button>
            </td>
        </tr>
    </table>
</div>
