<div class="container">
    <table>
        <tr class="titulo">
            <td>Data</td>
            <td>Pista</td>
            <td>Campeonato</td>
            <td>Ações</td>
        </tr>
        <tr class="dados" *ngFor="let corrida of list">            
            <td>{{ corrida.data }}</td>
            <td>{{ corrida.pistaId }}</td>
            <td>{{ corrida.campeonatoDescricao }}</td>
            <td class="td-btn">
                <button (click)="getCorridaForm(corrida)">
                    <img src="../../../../../assets/icons/edit-icon.png" alt="" />
                </button>
                <button (click)="delete(corrida)">
                    <img src="../../../../../assets/icons/trash-icon.png" alt="" />
                </button>
            </td>
        </tr>
    </table>
</div>
